# Ignore Python cache files
__pycache__/

# Ignore logs, tiff & vscode
logs/
tiff/
.hypothesis/
nespreso/
tests/ 
.pytest_cache/
.cursor/
.github/
.vscode/
nespreso-ui/
tests/
nespreso-ui/
uses/
nespreso/
scripts/sat_db/

# Ignore compiled Python files
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment files
.env
.venv

# Ignore macOS system files
.DS_Store
my_output.nc
