ruff
black
mypy
pytest
hypothesis
prometheus_client
tenacity
gunicorn 
flask
pydantic
numpy
pandas
xarray
torch
httpx
requests
earthaccess
copernicusmarine
cartopy
rioxarray
scipy
seaborn
cmocean
gsw
mat73
scikit-learn
netCDF4 